# Python
*.pyc
*.pyo
*.pyd
backend/backend/__pycache__
/backend/__pycache__
/api/__pycache__
**/__pycache__/

*.sqlite3

# Virtual environments
env/
venv/
ENV/
.venv/
*.egg-info/

# Django
db.sqlite3
/media/
staticfiles/

# Logs
*.log

# Security
.env
secrets.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
build/
dist/
.DS_Store

# System Files
Thumbs.db
.idea/
.vscode/
*.bak


 IDE/Editor configurations
*.swp
*.swo
*.bak
*.tmp

# OS-specific
.DS_Store

backend/api/migrations/__pycache__

# media/documents

backend/media/documents
backend/media/static/cleaned_df.pkl
backend/static/cleaned_data.csv

backend/api/tests.py

backend/static/job_descriptions.csv

