@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
}

.error-message {
  color: #d32f2f;
  font-size: 0.875rem;
  margin-top: 10px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0;
  margin-left: 15px;
}
